/***************************************************************
** Copyright (C), 2020-2030, OPLUS Mobile Comm Corp., Ltd.
**
** File: - occe_create
** Description:
** Version: 1.0
** Date : 2020/4/1
** Author: AnabaoShao
**
** ----------------------Revision History: --------------------
**  <author>    <date>     <version >          <desc>
**  AnabaoShao  2020/4/1       1.0          build this module
***************************************************************/

service occe_create /odm/bin/occe_create
    class main
    user root
    group root media_rw
    oneshot

on post-fs-data
mkdir /mnt/occe 0777 media_rw media_rw
mkdir /mnt/occe/shader 0777 media_rw media_rw
mkdir /mnt/occe/shader/fb_binary 0777 media_rw media_rw

